body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
  
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-color {
  color: #f6d8ac
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.input {
  width: 150px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  flex-grow: 1;
}

.sponsor-font {
  color:rgb(101, 105, 102);
  font-size: 20px;
  font-weight: bold;
}

.client-font {
  color:rgb(118, 119, 119);
  font-size: 20px;
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  }

.hero::before {
  background-image: url('http://cdn.shopify.com/s/files/1/1192/7874/files/Minimalist_Living_-_How_to_Declutter_Your_Life_2048x2048.jpg?v=1529470251');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  }

 .hero-client {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
 }

 .hero-client::before {
  background-image: url('https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
 }